@import (inline) "normalize.css/normalize.css";

@purpleColor: #77428D;

a {
  text-decoration: none;
}

.box-shadow--1() {
  box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.26);
}

.box-shadow--2() {
  box-shadow: 0 8px 17px rgba(0, 0, 0, 0.2);
}

.square (@l) {
  width: @l;
  height: @l;
}

.centering(@l) {
  .square(@l);
  margin-left: -@l / 2;
  margin-top: -@l / 2;
}

.sidebar {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .square(100%);
  position: absolute;
  background-color: @purpleColor;
  transition: all .4s cubic-bezier(0.25, 0.8, 0.25, 1) .8s;
  &__logo {
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    .centering(240px);
    transition: all .8s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    background-color: #fff;
    opacity: 1;
    svg {
      transition: all .8s cubic-bezier(0.25, 0.8, 0.25, 1);
      .square(240px);
    }
  }
}

.menu {
  opacity: 0;
  transition: all .8s cubic-bezier(0.25, 0.8, 0.25, 1) .8s;
}

.content {
  display: none;
}

.loaded {
  .sidebar {
    width: 100%;
    height: 60px;
    bottom: auto;
    right: auto;
    .box-shadow--1();
    &__logo {
      opacity: 0;
    }
  }

  .menu {
    opacity: 1;
  }

  .content {
    display: block;
  }
}

.section {
  min-height: 480px;
  height: 750%;
  padding: 180px 0;
  &__square {
    transition: all .4s cubic-bezier(0.25, 0.8, 0.25, 1);
    .box-shadow--1();
    margin: 0 auto;
    .square(300px);
  }
}
@media (max-width: 47.9em) {
  .loaded {
    .menu {
      display: none;
    }
  }
}

@media (min-width: 48em) {
  .sidebar__logo {
    .centering(480px);
    svg {
      .square(480px);
    }
  }

  .loaded .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 25%;
    height: 100%;
    &__logo {
      .centering(180px);
      left: 50%;
      top: 135px;
      opacity: 1;
      svg {
        .square(180px);
      }
    }
  }

  .menu {
    position: absolute;
    top: 270px;
    bottom: 0;
    width: 100%;
    display: block;
    background-color: darken(@purpleColor, 10%);
    &__circle {
      overflow: hidden;
      width: 100%;
      height: 60px;
      background-color: @purpleColor;
      position: relative;
      &:before {
        content: '';
        border-radius: 50%;
        width: 150%;
        height: 400%;
        left: -25%;
        top: 50%;
        display: block;
        position: absolute;
        background-color: darken(@purpleColor, 10%);
        .box-shadow--1();
      }
    }
    &__list {
      text-align: center;
      width: 180px;
      height: 60px;
      margin: 0 auto;
      color: #fff;
      font-size: 1.8em;
      font-weight: bold;
      line-height: 60px;
      a {
        display: block;
        color: #fff;
        box-sizing: border-box;
        transition: all .4s cubic-bezier(0.25, 0.8, 0.25, 1);
        position: relative;
        &.active {
        }
      }
    }
  }

  .content {
    margin: 0 0 0 25%;
  }

  .section {
    min-height: 640px;
    height: 100%;
    padding: 120px 0 0 0;
    &__square {
      .box-shadow--1();
      margin: 0 auto;
      .square(540px);
    }
  }
}


.v-spy {
  display: none;
}

.active[href="#motto"] ~ .content #motto .section__square,
.active[href="#party"] ~ .content #party .section__square,
.active[href="#info"] ~ .content #info .section__square,
.active[href="#links"] ~ .content #links .section__square {
  .box-shadow--2();
}

