@import (inline) "normalize.css/normalize.css";
@import url(http://fonts.googleapis.com/css?family=Londrina+Outline);
@import url(http://fonts.googleapis.com/css?family=Londrina+Solid);

@purpleColor: #77428D;
@lightPurpleColor: lighten(@purpleColor, 20%);

@squareSize: 540px;
@squareSizeMobile: 300px;

a {
  text-decoration: none;
}

.box-shadow--1() {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.box-shadow--2() {
  box-shadow: 0 8px 17px rgba(0, 0, 0, 0.2);
}

.square (@l) {
  width: @l;
  height: @l;
}

.centering(@l) {
  .square(@l);
  margin-left: -@l / 2;
  margin-top: -@l / 2;
}

.sidebar {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  .square(100%);
  position: absolute;
  background-color: @lightPurpleColor;
  transition: all .4s cubic-bezier(0.25, 0.8, 0.25, 1) .8s;
  &__logo {
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    .centering(240px);
    transition: all .8s cubic-bezier(0.25, 0.8, 0.25, 1) .8s;
    overflow: hidden;
    background-color: #fff;
    opacity: 1;
    svg {
      transition: all .8s cubic-bezier(0.25, 0.8, 0.25, 1) .8s;
      .square(240px);
    }
  }
}

.menu {
  opacity: 0;
  transition: all .8s cubic-bezier(0.25, 0.8, 0.25, 1) 1.2s;
}

.content {
  display: none;
}

.section {
  padding: 120px 0 20px 0;

  &:last-of-type {
    padding: 60px 0;
  }
  &__square {
    transition: all 1.6s cubic-bezier(0.25, 0.8, 0.25, 1);
    .box-shadow--1();
    margin: 0 auto;
    border-radius: 2px;
  }
}

#party .section__square {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  overflow-y: scroll;
  .member {
    border-radius: 2px;
    position: relative;
    cursor: pointer;
    &__radio {
      display: none;
    }

    &__info {
      width: @squareSize / 3;
      height: @squareSize /3;
    }

    &__icon {
      opacity: 1;
      display: block;
      height: 100%;
      position: absolute;
      transition: all .8s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    &__name {
      text-align: center;
      position: absolute;
      height: 1.5em;
      line-height: 1.5;
      width: @squareSize / 3;
      background-color: rgba(255, 255, 255, .7);
      transition: all .8s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    &:hover .member__name {
      font-size: 1.5em;
    }
    &__comment {
      position: absolute;
      height: 50%;
      width: 0;
      opacity: 0;
    }
  }

  .member__radio:checked + .member__info {
    width: @squareSize * 2 / 3;
    .member__name {
      top: 0;
      left: 0;
      width: @squareSize * 2 / 3;
      height: 100%;
      line-height: 2;
    }
    .member__comment {
      opacity: 1;
      top: 50%;
      left: 0;
      width: @squareSize * 2 / 3;
    }
    .member__icon {
      height: @squareSize / 6;
      border-radius: 50%;
    }
  }
}

#links .section__square {
  a {
    font-weight: 400;
    display: inline-block;
    width: 50%;
    color: #000;
    font-size: 2.5rem;
    text-align: center;
    line-height: 5rem;
    height: 5rem;
  }
  a:nth-of-type(2n) {
    font-family: 'Londrina Outline', cursive;
  }
  a:nth-of-type(2n+1) {
    font-family: 'Londrina Solid', cursive;

  }
  a:hover:first-letter {
    font-variant: small-caps;
    font-size: 5rem;

  }
  a:hover:after {
    content: ' > > >';
  }
}

#footer .section__square {
  position: relative;

  .copyright {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

}

.loaded {
  .sidebar {
    width: 100%;
    height: 60px;
    bottom: auto;
    right: auto;
    .box-shadow--1();
    &__logo {
      opacity: 0;
    }
  }

  .menu {
    opacity: 1;
  }

  .content {
    display: block;
  }
}

@media (max-width: 48em) {
  .loaded {
    .menu {
      display: none;
    }
  }

  .section {
    &__square {
      .square(300px);
    }
    &:last-of-type {
      padding: 60px 0 0 0;
      .section__square {
        height: 150px;
        border-bottom: none;
      }
    }
  }

  #motto .section__img {
    width: 300px;
    height: 300px;
  }

  #party .section__square {
    .member {
      &__info {
        width: @squareSizeMobile / 3;
        height: @squareSizeMobile /3;
      }

      &__name {
        width: @squareSizeMobile / 3;
      }
    }

    .member__radio:checked + .member__info {
      width: @squareSizeMobile * 2 / 3;
      .member__name {
        width: @squareSizeMobile * 2 / 3;
      }
      .member__comment {
        width: @squareSizeMobile * 2 / 3;
      }
      .member__icon {
        height: @squareSizeMobile / 6;
      }
    }
  }
}

@media (min-width: 48em) {
  .sidebar__logo {
    .centering(480px);
    svg {
      .square(480px);
    }
  }

  .loaded .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 25%;
    height: 100%;
    .box-shadow--2();
    &__logo {
      .centering(180px);
      left: 50%;
      top: 135px;
      opacity: 1;
      svg {
        .square(180px);
      }
    }
  }

  .menu {
    position: absolute;
    top: 270px;
    bottom: 0;
    width: 100%;
    display: block;
    background-color: @purpleColor;
    &__circle {
      overflow: hidden;
      width: 100%;
      height: 60px;
      background-color: @lightPurpleColor;

      position: relative;
      margin-bottom: 30px;
      &:before {
        content: '';
        border-radius: 50%;
        width: 150%;
        height: 400%;
        left: -25%;
        top: 50%;
        display: block;
        position: absolute;
        background-color: @purpleColor;
        .box-shadow--1();
      }
    }
    &__list {
      width: 180px;
      height: 60px;
      margin: 0 auto;
      color: #fff;
      font-size: 2em;
      a {
        font-family: 'Londrina Outline', cursive;
        font-weight: 400;
        line-height: 60px;
        letter-spacing: .1em;
        text-align: center;
        display: block;
        color: #fff;
        box-sizing: border-box;
        transition: all .4s cubic-bezier(0.25, 0.8, 0.25, 1);
        position: relative;
        font-size: 1em;
        &.active {
          font-size: 1.2em;
          letter-spacing: .2em;
          font-family: 'Londrina Solid', cursive;
          &:before {
            content: '#';
            display: inline;
            line-height: 1;
            animation: shake 4s infinite linear;
          }
        }
        &:first-letter {
          font-family: 'Londrina Solid', cursive;

        }
        &:hover {
          font-family: 'Londrina Solid', cursive;
        }
      }
    }
  }

  .content {
    margin: 0 0 0 25%;
  }

  .section {
    &__square {
      .square(540px);
    }
    &:last-of-type {
      padding: 60px 0 0 0;
      .section__square {
        height: 270px;
        border-bottom: none;
      }
    }
  }

  #party .section__square {

  }
}

.v-spy {
  display: none;
}

.active[href="#motto"] ~ .content #motto .section__square,
.active[href="#party"] ~ .content #party .section__square,
.active[href="#info"] ~ .content #info .section__square,
.active[href="#links"] ~ .content #links .section__square {
  .box-shadow--2();
}

@keyframes shake {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  2% {
    transform: translate(0px, -9px) rotate(0deg);
  }
  4% {
    transform: translate(0px, 6px) rotate(0deg);
  }
  6% {
    transform: translate(0px, 6px) rotate(0deg);
  }
  8% {
    transform: translate(0px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(0px, -4px) rotate(0deg);
  }
  12% {
    transform: translate(0px, 1px) rotate(0deg);
  }
}
